@model IEnumerable<Web.Models.ExpenseViewModel>
@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Session;
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Index";
    int userrole = (int)ViewData["userrole"];
}

<h4>Expenses List</h4>

<table class="highlight">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Currency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedOn)
            </th>
            @if (userrole == 1)
            {
                <th>
                
                    <a asp-action="AddorEdit" class="btn btn-outline-success"><i class="fa fa-plus-square"></i> Add Expense</a>
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Currency)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedOn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifiedOn)
                </td>
                <td>
                    <a asp-action="AddOrEdit" asp-route-id="@item.Id"><i class="fa fa-marker fa-lg"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="text-danger ml-1" onclick="return confirm('Are you sure to delete this record?')"><i class="fa fa-trash-alt fa-lg"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
